* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.container {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}